nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    overflow: hidden;
    color: white;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button.LogBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.invisible {
    display: none;
}

/* make the top image responsive and appear in the center */
.Top-Image{
    width: 40rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }