.log {
    position: fixed;
    background-color: white;
    width: 300px;
    height: 300px;
    top: 100% - 150px;
    left: 100% - 150px;
}

.back{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #00000040;
    width: 100%;
    height: 100%;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.invisible {
    display: none;
}